<footer>
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <ul class="list-inline">
                    <li>
                        <a href=""></a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                </ul>
            </div>
            <div class="cell text-center">
                <span>© 2017-2019 Watson Inc. All Rights Reserved.</span>
            </div>
            <div class="cell">
                <hr>
            </div>
            <div class="cell text-center">
                <p><strong>Disclaimer</strong></p>
                <p>
                    Watson Inc. is a private company, and is in no way affiliated or associated with, or endorsed or
                    approved by, the United State Food and Drug Administration.
                </p>
            </div>
        </div>
    </div>
</footer>