<div data-sticky-container>
    <div data-sticky data-options="marginTop:0;">
        <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <div class="title-bar-left">
                Logo
            </div>
            <div class="title-bar-right">
                <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
                <div class="title-bar-title"></div>
            </div>
        </div>


<div class="top-bar" id="responsive-menu">
    <div class="top-bar-left show-for-medium">
        Logo
    </div>
    <div class="top-bar-right">
        <ul class="menu" data-smooth-scroll>
            <li><a href="#label-guide">Guide</a></li>
            <li><a href="#webinar">On-Demand Webinar</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</div>
</div>
</div>